<ng-container *ngIf="(datasource$ | async) as datasource">
  <span>Neobium table</span>

  <nb-table [dataSource]="datasource.entities">
    <ng-container *ngFor="let column of columns; let index = index">
      <th *nbColumnHeader="column"
          [nbHeaderCell]
          [nbHeaderCellDrag]="true"
          [nbHeaderCellDragData]="column"
          style="cursor: pointer;"
          (click)="sortByColumn(column)">
        {{ column }}
      </th>
      <td *nbColumnCell="column; let dataItem = dataItem; let row = row"
          [nbCell]="row">
        {{ dataItem[column.toLowerCase()] }}
      </td>
    </ng-container>

    <tr *nbHeaderRow></tr>
    <tr *nbRow="let dataItem = dataItem"
        (click)="clickRow(dataItem)"></tr>
  </nb-table>
</ng-container>